<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title><%= yield(:title) %> | Softtennis App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'matches', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="box">
      <% @rallies.each do |rally| %>
        <a>id : </a><%= rally.id %>
        <a> | name : </a><%= rally.name %>
        <a> | url : </a><%= rally.url %>
        <a> | img : </a><%= rally.img %>
        <a> | </a><%= link_to "edit", "/#{rally.id}/edit_rally" %>
        <p>----------------------------------------------------------------------------</p>
      <% end %>
    </div>
  </body>
</html>
