<% provide(:title, "Rallies") %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title><%= yield(:title) %> | Softtennis App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'rallies', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="box">
      <div class="top">
        <div class="title">
          <%= "乱打動画" %>
        </div>
      </div>

      <div class="main">
        <div class="buttons">
          <div class="button">
            <% @names.each do |n| %>
              <div class="button-detail">
                <%= link_to "#{n} 選手","/rallies/#{n}",class: 'button-link' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
