<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Softtennis App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: "all", 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

　<body>
    <div class="row container-fluid">
      <div class="col-lg-2 col-xs-12 no-gutters">
      　<div class="menubar_fixed">
    　    <div class="app-logo">
            <%= link_to image_tag("ST-Lab2.png", class: 'app-logo-img'), "/" %>
            <div class="sns">
              <a href="#" class="fab fa-twitter icon"></a>
              <a href="https://www.instagram.com/softtennis_laboratory" class="fab fa-instagram icon" target="_blank" rel="noopener noreferrer"></a>
            </div>
          </div>
          <div class="menu-box"><%= link_to 'Home','/', class: 'menu' %></div>
          <div class="menu-box"><%= link_to 'About','/about', class: 'menu' %></div>
          <div class="menu-box">
            <%= link_to 'Match Movies','/movies', class: 'menu' %>
            <div class="years-menu">
              <% @years.each do |y| %>
                <div class="year-menu">
                  <%= link_to "#{y}","/movies/#{y}",class: 'year-menu-link' %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="menu-box"><%= link_to 'Rally Movies','/rallies', class: 'menu' %></div>
        </div>
      </div>
      <div class="col-lg col-xs-12 no-gutters">
        <%= yield %>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
